

<form action="/hello" method="post">
    <input type="hidden" name="_METHOD" value="PUT"/>
    <label for="name">First name:</label></br>
    <input type="text" id="name" name="name" value=""></br>
    <button type="submit">Send PUT request</button>
</form>
